<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>

    <h2>Users table</h2>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Age</th>
        <th>Email</th>
        <th>User Roles</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.username}">username</td>
        <td th:text="${user.age}">age</td>
        <td th:text="${user.email}">email</td>
        <td th:each="role : ${user.roles}">
          <span th:text="${role.rolename}"> </span> </td>
        <td><a th:href="@{admin/edit/{id} (id = ${user.id})}">Edit</a></td>
        <td><a th:href="@{admin/{id} (id = ${user.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  <p><a class="button7" href="/admin/create">Create User</a></p>
  <a th:href="@{/logout}">Logout</a>
</body>
</html>